.navbar {
    justify-content: center;
    background-color: wheat;
    display: flex;
    height: 50px;

}

.navbar > * {
    text-decoration: none;
    color: black;
    width: 100px;
    height: 20%;
}

.navbar a:hover {
    background-color: #454545;
}