<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.23.9/babel.min.js"  crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar" id="navbar">
        <div class="homeLink"><a href="http://127.0.0.1:5000/">home</a></div>
        <div class="profileLink"><a href="http://127.0.0.1:5000/profile">profile</a></div>
        <div class="tablelink"><a href="http://127.0.0.1:5000/bilder">restaraunt bilder</a></div>
    </div>
</body>
</html>