{% extends 'layout.html' %}
{% block content %}
    <script src="/static/js/tableBilder.js" defer></script>
    <link rel="stylesheet" href="/static/css/styleTable.css">
    <div id="main" class="main">
        <div class="tables" id="tables">
            <div class="ordinaryTables" id="ordinaryTables"></div>
            <div class="bigTables" id="bigTables"></div>
            <div class="hugeTables" id="hugeTables"></div>
        </div>
        <div class="create_table">
            <button onclick="createTable(1)">Ordinary table</button>
            <button onclick="createTable(2)">Big table</button>
            <button onclick="createTable(3)">Huge table</button>
            <button onclick='saveTables()'>Save</button>

        </div>
    </div>
{% endblock %}     